# wget https://raw.githubusercontent.com/earth-mover/aifs-demo/refs/heads/main/env/requirements-etl.txt
coiled
jupyterlab
earthkit-data
earthkit-regrid==0.4.0
ecmwf-opendata
arraylake
icechunk
dask[distributed]
fastparquet 
pyarrow 
obstore 
kerchunk
cartopy
matplotlib
geopandas 

